<mat-card-header class="poll-name">
  <mat-card-title>{{ poll?.name }}</mat-card-title>
</mat-card-header>

<mat-list>
    <mat-list-item *ngFor="let item of poll?.items">
        <mat-card class="poll-card">
            <mat-card-content>
                <span mat-line>{{ item.name }}</span>
                <!-- This needs to be a button to vote on -->
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>

<mat-card class="poll-card">
    <mat-card-actions>
      <p class="poll-end-date">Poll ends on: {{ poll?.startDate | date:'dd-MM-YYY' }}</p>
    </mat-card-actions>
</mat-card>